<?xml version="1.0" encoding="iso-8859-1"?>
<servers>
  <server>
    <nummer>1</nummer>
    <name>//192.168.0.1:1433;DatabaseName=db1</name>
    <typ>2</typ>
    <user>user</user>
    <password>eHh4</password>
    <aktu0>Y</aktu0>
    <aktu1>N</aktu1>
    <aktu2>N</aktu2>
    <aktu3>N</aktu3>
  </server>
  <server>
    <nummer>2</nummer>
    <name>192.168.0.2</name>
    <typ>0</typ>
    <user>user</user>
    <password>eHh4</password>
    <aktu0>N</aktu0>
    <aktu1>N</aktu1>
    <aktu2>N</aktu2>
    <aktu3>N</aktu3>
  </server>
</servers>

